/* Estilos generales */
body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  overflow-x: hidden; /* Oculta la barra de desplazamiento horizontal */
}

/* Estilos para el tema dark */
.dark-theme {
  background-color: #111;
  color: white;
}

/* Estilos para el tema light */
.light-theme {
  background-color: white;
  color: #111;
}

.container {
  text-align: center;
  padding-top: 10vh; /* Ajusta el espacio para el contenido */
}

.title {
  font-size: 4em; /* Tamaño del título */
}

.subtitle {
  font-size: 1.3em; /* Tamaño del subtítulo */
  margin-top: 5px;
}

.theme-buttons {
  position: fixed;
  top: 20px;
  right: 20px;
}

/* Estilo para los botones */
.theme-buttons button {
  margin-left: 5px;
  padding: 0; /* Elimina el relleno para el botón */
  font-size: 14px;
  cursor: pointer;
  border: none; /* Elimina el borde del botón */
  background: none; /* Elimina el fondo del botón */
  color: white; /* Establece el color del texto por defecto en blanco */
}

/* Estilo específico para el botón dark */
.theme-buttons .dark-text {
  color: #111; /* Establece el color del texto en negro para el botón dark */
}
.project {
  margin-top: 100px;
  text-align: center; /* Centrar el texto dentro de la sección */
}

.project h2 {
  font-size: 1.5em;
  color: #ffa600fd; /* Color de título */
}

.project p {
  font-size: 1.2em;
  line-height: 1.6;
  color: #ddd; /* Color de texto */
}
