body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: black;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 100vh;
}

.container {
  text-align: center;
  margin-top: 10vh; /* Espacio superior ajustado */
}

h1 {
  font-size: 4em;
  margin-bottom: 5px; /* Espacio entre títulos */
}

.subtitle {
  font-size: 1.5em;
}

/* Botones de cambio de tema */
.theme-buttons {
  position: fixed;
  bottom: 20px;
  right: 20px;
}

.theme-buttons button {
  margin-left: 5px;
}

/* Estilos para el tema dark */
body.dark-theme {
  background-color: black;
  color: white;
}

/* Estilos para el tema light */
body.light-theme {
  background-color: white;
  color: black;
}

/* Posicionamiento de los botones */
.theme-buttons {
  position: fixed;
  bottom: 20px;
  right: 20px;
}

.theme-buttons button {
  margin-left: 5px;
}

/* Resto de tu CSS */

@media (max-width: 768px) {
  h1 {
    font-size: 3em;
  }

  .subtitle {
    font-size: 1.2em;
  }
}
