/* Estilos para el texto "Estadísticas All" */
#estadisticas {
  clear: both; /* Forzar que el elemento se sitúe debajo de los elementos flotantes anteriores */
}

/* Estilos para el selector de año */
#selectYear {
  font-size: 24px; /* Tamaño de fuente */
  padding: 5px; /* Espaciado interno */
}

/* Estilos para la tabla */
.custom-table {
  clear: both; /* Forzar que este elemento se sitúe debajo de los elementos flotantes anteriores */
  width: 100%;
  border-collapse: collapse;
  background-color: black; /* Fondo negro */
  color: white; /* Letras blancas */
}

.custom-table th,

/* La tabla con fecha nick score y mapa */
.custom-table td {
  clear: both; /* Forzar que este elemento se sitúe debajo de los elementos flotantes anteriores */
  border: 3px solid white;
  padding: 1px;
  /* height: 100px; */
}
/*titulo de la tabla estadisticas de abajo, date, nick, win, etc*/
.custom-table th {
  /* width: 100%; */
  align-items: self-start;
  background-color: #333;
  padding: 2px;
  font-weight: bold;
}

.grid-item {
  clear: both; /* Forzar que este elemento se sitúe debajo de los elementos flotantes anteriores */
  background-color: #333;
  padding: 1px;
  border-radius: 3px;
  color: white;
}

/* Estilos para el gráfico de torta */
.grafico-chico {
  clear: both; /* Forzar que este elemento se sitúe debajo de los elementos flotantes anteriores */
  float: left;
  width: 50%; /* Ancho del gráfico */
  height: auto; /* Altura automática para mantener la proporción */
  margin-top: 120px; /* Espacio en la parte superior */
  margin-bottom: 10px; /* Espacio en la parte inferior */
}

